{
  "stage": 0,
  "loose": "all",
  "env": {
    "development": {
      "plugins": [
        "tcomb"
      ]
    },
    "test": {
      "plugins": [
        "rewire",
        "tcomb"
      ]
    }
  }
}
